@import '../../../../sharedStyles/_colors.scss';
@import '../../../../sharedStyles/_typography.scss';

.timer-container {
  font-family: $text-family;
}

.clock {
  font-size: 35px;
}

.status { letter-spacing: 1px; }

input {
  width: 50px;
  float: right;
}
