$background-color: #F1F1F1;

$site-title-color: #4B4B4B;

$nav-bar-bg-color: #F1F1F1;
$nav-link-color: #2A727F;
$nav-border-bottom-color: #70B695;

$focus-color: #35AE75;

$form-label-color: #343d47;
$form-input-border-color: #D5D5D5;
$form-input-border-focused-color: #35AE75;

$button-bg-color: #35AE75;
$button-text-color: #F1F1F1;

$heading-color: #FC4A1A;
