.not-auth-nav {
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  justify-content: center;
  align-content: center;

  .site-title {
    grid-column: 1 / 1;
    margin-left: 15px;
    align-self: center;
  }

  .nav-links {
    grid-column: 3 / 3;
    align-self: center;

    .link {
      float: right;
      margin-right: 15px;
    }
  }
}
