$background-color: #f8f8f8;
$nav-bg-color: #f6f6f6;
$nav-border-color: #d6dbdb;

$carbon: #A9A9A9;
$blackboard: #565656;
$watermelon: #FF3B3F;
$neutral: #EFEFEF;

$redish: #F76C6C;
$dark-green: #1F6521;
$dark-blue: #24305E;
