.features-container {
	width: 100%;
	margin-top: 15px;
	font-family: $text-family;
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-align: center;
	.features {
		display: flex;
		width: 50%;
		.feature {
			width: 33%;
			margin-right: 15px;
			h2 {
				color: #202020;
				font-size: 25px;
			}
			p {
				margin-top: 5px;
				color: #686868;
			}
		}
	}
}
