@import '../elements/_timertext.scss';
@import '../elements/_timertype.scss';
@import '../elements/_timerclock.scss';

@import './_timersettings.scss';
@import './_normaltimersettings.scss';
@import './pomodorotimersettings.scss';

.homepage-timer {
	height: 50%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.timer {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		.timer-text {
			margin-bottom: 15px;
		}

		.timer-clock {
			margin-bottom: 50px;
		}

		.task-input {
			width: 100%;
			margin-top: 20px;
		}

		.timer-buttons {
			display: flex;
			justify-content: space-between;
			width: 100%;

			.timer-types {
				display: flex;
			}
		}

		.timer-settings {
			margin-top: 2px;
		}
	}
}
