.custom-input {
	height: 30%;
	border: none;
	border-width: 0px;
	border-bottom: 2px solid #A5D8DD;
	background-color: $background-color;

	-webkit-transition: border-bottom 300ms ease-out;
	-moz-transition: border-bottom 300ms ease-out;
	-o-transition: border-bottom 300ms ease-out;
	transition: border-bottom 300ms ease-out;
}

.custom-input:focus {
	border-bottom: 2px solid $navbar-color;
}
